@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css");
@import url("https://use.typekit.net/som4kpb.css");

body {
  font-family: "acumin-pro", sans-serif;
  --colorAccent:#0678fb;
}

// nav styling
nav {
  position: absolute;
  top: 0;
  width: 100%;

  .container {
    .links {
      height: 6em;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  svg {
    height: 2em;
    width: auto;
    fill: white;
  }

  a:not(.logo) {
    font-size: 1.3em;
    color: white;
    margin-top: -0.3em;
  }
}

// banner styling
.banner {
  background: var(--colorAccent);
  height: 9em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  @media screen and (min-width: 550px) {
    height: 14em;
    justify-content: center;
  }

  .content {
    text-align: center;
    margin-bottom: 1.5em;
  }

  h1,
  h2 {
    margin: 0;
    font-weight: bold;
    line-height: 1;
  }
}

// footer styling
footer {
  margin-top: 2em;
  height: 5em;
  display: flex;
  align-items: center;
  background: #DDD;
}
